body::-webkit-scrollbar {
    width: 10px;               /* ширина scrollbar */
}
  body::-webkit-scrollbar-track {
    background: #ffffff;        /* цвет дорожки */
}
  body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.400);    /* цвет плашки */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inria Sans', sans-serif;
    cursor: default;
}

header{
    background-color: #0A2640;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    width: 600px;
    align-items: center;
}
.nav-bar a{
    font-size: 22px;
    color: white;
    text-decoration: none;
}
.button-1{
    padding: 4px 30px 4px 30px;
    border-radius: 60px;
    font-size: 25px;
    background-color: white;
    color: black;
    border: none;
}
.button-1:hover{
    background: transparent;
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

.main-box-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 1200px;
    border-radius: 50px;
    background-color: #053F74CC;
}
.main-box-container p{
    color: white;
    font-size: 1.5em;
    width: 380px;
}
.main-box{
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
}
.main-box img{
    border-radius: 20px;
}
.container{
    padding: 0;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    margin-top: 150px;
    background-color:#D9D9D9;
}
.logo{
    color: #666666CC;
    font-size: 1.2em;
}
.table-box a{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}